{% extends "basePage.html" %}
{% block title %}
    Admin page
{% endblock %}
{% block header %}
    {% include 'adminHeader.html' %}
    <h2>Интерфейс администратора</h2>
{% endblock %}
{% block content %}
{% endblock %}