{% extends "userPage.twig" %}
{% block content %}
    <div class="left-container">
        {#{% include 'categories.html' %}#}
    </div>  
    <div class="right-container">
        {% include 'answers.html' %}
    </div>
{% endblock %}