<div class="logout">
    <a class="logout-button" href="?/user/logout">Выход</a>
</div>
<div class="part-1">
    <h3>Список вопросов</h3>
    <div class="form-container">
        <form action="?/question/add" method="POST">
            <input type="text" name="description" placeholder="Текст вопроса" value="">
            <input type="submit" name="save" value="Добавить">
        </form>
    </div>

    <table class="table">
        <thead class="table-head">
            <tr class="header-row">
                <td class="column-description">Вопрос</td>
                <td class="column-date">Дата добавления</td>
                <td class="column-status">Статус</td>
                <td class="column-action">Действия</td>
                <td class="column-author">Автор</td>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr class="table-row">

                <td class="column-description">{{ question.description|e }}</td>
                <td class="column-date">{{ question.date_added }}</td>
                <td class="column-status">
                    {% if question.status == 1 %}
                        <span class="">...</span>
                    {% else %}
                        <span class="">...</span>
                    {% endif %}
                </td>
                <td class="column-action">
                    <a href="?/question/delete/id/{{ question.id }}">Удалить</a>
                </td>
                <td class="column-author">{{ question.user_name|e }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


