<div class="question-list">
    <h3>Список вопросов</h3>
    <div class="form-container">
        <form action="?/question/add" method="POST">
            <input type="text" name="description" placeholder="Текст вопроса" value="">
            <input type="submit" name="save" value="Добавить">
        </form>
    </div>

    <table class="table">
        <thead class="table-head">
            <tr class="header-row">
                <td class="column-description">Вопрос</td>
                <td class="column-date">Дата добавления</td>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr class="table-row">
                <td class="column-description">{{ question.description|e }}</td>
                <td class="column-date">{{ question.date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


