<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p>users try</p>
            {% for user in users %}
                <p>{{ user.login }}</p>
                <p>{{ user.password }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.is_admin }}</p>
            {% endfor %}
        </div>
    </body>
</html>
