{% extends "basePage.html" %}
{% block title %}
    FAQ service
{% endblock %}
{% block header %}
    {% include 'userHeader.html' %}
    <h2>Сервис вопросов</h2>
{% endblock %}
{% block content %}
{% endblock %}